<%- include('include/header.ejs') %>

<body>
    <% include('include/navigation.ejs') %>

    <main>
        <h1>Page not found!</h1>
        <h3>What are you doing with your life?</h3>
    </main>

<%- inlcude('include/footer.ejs') %>