<%- include('include/header.ejs') %>

<body>
    <% include('include/navigation.ejs') %>

    <main>
        <h1><% mainMessage %></h1>
        <h3><% criticism %>/h3>
    </main>

<%- inlcude('include/footer.ejs') %>