<%- include('include/header.ejs') %>
<body>
    <%- include('include/navigation.ejs') %>
<main>
    <h1>Home</h1>
    <h4><%= welcome %></h4>
    <form method="POST" action="/">
        <input type="text" name="username"/>
        <input type="submit"/>
    </form>
</main>

<%- include('include/footer.ejs') %>